.root {
  min-height: 700px;
  min-width: 300px;
  border-radius: 14px;
  background-color: #1d2a38;
  color: white;
  margin: 30px;
}
img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}
/* .tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid rgb(255, 255, 255);
} */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0b0f14;
  font-family: sans-serif;
  color: #e8f0f8;
  padding: 0px;
  margin: 0px;
}
.watchlist-button {
  font-size: 1em;
  border: none;
  font-weight: bold;
  display: block;
  height: 40px;
  min-width: 80%;
  background-color: #3a5068;
  color: white;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 5px;
  cursor: pointer;
}
.trailer-button {
  font-size: 1em;
  border: none;
  font-weight: bold;
  display: block;
  height: 40px;
  min-width: 80%;
  background-color: #3a5068;
  color: white;
  padding: 10px 20px;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
}
h3 {
  text-align: center;
  margin-top: 14px;
  font-size: 1.2em;
}
h4{
    text-align: center;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.753);
}